footer 
    a(href="https://github.com/PabloMatMar", target="_blank", rel="noreferrer", className ="ancor1") PabloMatMar
    a(href="https://github.com/PabloMatMar", target="_blank", rel="noreferrer", className ="ancor2")
        img(src="/assets/github.png", className="iconGithub", alt=" Github Logo", width="3%")
    a(href="https://github.com/PabloMatMar", target="_blank", rel="noreferrer", className ="ancor2") github.com