header(id="nickName")
    img(src="/logos/popcorn.png" alt="popcorn" width=44 + (nickName.indexOf('@')*8) height=50 class="popcorn")
    nav(class="topnav")
        a(href="#" class="burger_button" id="burger_button")
            img(src="/logos/burger.png" alt='menu-burger' class="burger_menu")
    
        div(id="links_menu")
            if admin
                each item in [['../../search', 'Search'], ['../../movies/','Movies'], ['../../user','User'], ['../../logout' , 'Logout']]
                    button  
                        a(href=  item[0])= item[1]
            else
                each item in [['../../search', 'Search'], ['../../favmovies','Favorites'], ['../../user','User'], ['../../logout' , 'Logout']]
                    button  
                        a(href=  item[0])= item[1]
    div 
        if avatar
            img(src=avatar class="imgUser")
        else
            img(src="/logos/user.jpg" class="imgUser")
        p User: #{nickName.slice(0, nickName.indexOf('@'))}