include ./basicStructures/head.pug
    title CreateMovie 
body 
    include ./basicStructures/header.pug
    main
        if !noAdmin
            include ./moviesFragments/formMovie.pug
        else
            section
                h4 This view is only for Admins.
            
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")
