include ./basicStructures/head.pug
    title Home
body
    include ./basicStructures/header.pug
    main
        h3 Welcome
        if !login && !singup
            include ./homeFragments/loginButtons.pug
        if login
            include ./homeFragments/login.pug
        if singup
            include ./homeFragments/singup.pug
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")