include ./basicStructures/head.pug
    title Home
body
    if logged
        include ./basicStructures/header.pug
    main
        if !login && !singup
            include ./homeFragments/loginButtons.pug
        if login
            include ./homeFragments/login.pug
        if singup
            include ./homeFragments/singup.pug
        if noLogin
            section
                h4 You cant navegete if you dont register.
        if noUser
            section
                h4 This section is only for Users.
        if noAdmin
            section
                h4 This section is only for Admins.
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")