include ./basicStructures/head.pug
    title Movies
body 
    include ./basicStructures/header.pug
    main
        if added
            section
                h3 added movie, you can make changes to it if you want
        if !noAdmin
            include ./moviesFragments/allMongomovies.pug
        else
            section
                h4 This view is only for Admins.

    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")