include ./basicStructures/head.pug
    title Movies
body 
    include ./basicStructures/header.pug
    main
       include ./moviesFragments/allMongomovies.pug
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")