include ./basicStructures/head.pug
    title search
body 
    include ./basicStructures/header.pug
    main
        include ./searchFragments/formToSearch.pug
        if categories
            include ./searchFragments/movie.pug
        if noMovie
            include ./searchFragments/noMovie.pug
        if userFavMovies
            include ./searchFragments/favMovies.pug
        if !userFavMovies && !admin
            a(href="/favmovies" class ="css-button-arrow--red") Look your favorites
        if addToMongo
            a(href="/transferToMongo" class ="css-button-arrow--red") Add Movie to Mongo DB      
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")