doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles.css")
        title Search
    body 
        include ./header.pug
        main
            h3 Search User
            form(action="/search" method="post" target="_blank" id="form1")
                label(for="fname") TITLE: 
                input(type="text" id="fname" name="title")
                |
                |
                input(type="submit" value="SEARCH" class='css-button-arrow--red')

            a(href="http://localhost:3000/favmovies" class ="css-button-arrow--red") Look your favorites      
        include ./footer.pug
        script(type="module" src="/scripts.js")