include ./basicStructures/head.pug
    title updateMovie 
body 
    include ./basicStructures/header.pug
    main
        include ./moviesFragments/formMovie.pug
    include ./basicStructures/footer.pug
    script(type="module" src="/scripts.js")