if errsForm
    include ./errsForm.pug
section 
    fieldset(id="formToDeleteUser" style="display: block;")
        form(class="deleteUser")
            legend Email
            input(type="text" name="email" required)
            |
            |
            legend Password
            input(type="text" name="password" required)
            |
            |
            br
            input(type="submit" id="deleteUser" value="Delete User" class ="css-button-arrow--red")
    p(id="confirmation" style="display: none;") If you delete your user, the entire list of your favorite movies will be permanently deleted.
        br
        button(id="Yes" class ="css-button-arrow--red") Delete
        button(id="No" class ="css-button-arrow--red") I'm not sure