section
    if errsForm[0] == "passwordError"
        h4 The action could not be carried out because the password or user entered are incorrect
    if errsForm[0] == 1
        h4 Passwords did not match.
    if errsForm[1] == 1
        h4 The password must conteins between 6 and 16 characters, at least one upper case letter, at least one lower case letter and at least one digit.
    if errsForm[2] == 1
        h4 Invalid email format.
    if errsForm[3] == 1
        h4 The image url must ends with .jpg or .png or .gif