if errsForm
    include ./errsForm.pug
section 
    fieldset
        form(class="updtPassword")
            legend Old Password
            input(type="text" name="oldPassword" required)
            |
            |
            legend New Password
            input(type="text" name="password" required)
            |
            |
            legend Repeat Password
            input(type="text" name="rPassword" required)
            |
            |
            br
            input(type="submit" id="updtPassword" value="Changes Password" class ="css-button-arrow--red")