section 
    a(class='login' href='/user/updtPassword/:') Change your password 
    |
    |
    a(class='login' href='/user/updtAvatar/:') Changes or delete your avatar
    |
    |
    a(class='login' href='/user/deleteUser/:') Delete your user