if errsForm
    include ./errsForm.pug
if passwordError
    section
        h4 The password has not been updated because the original password entered is not correct.
section 
    fieldset
        form(action="/user/updtPassword" method="post" class="updtPassword")
            legend Old Password
            input(type="text" name="oldPassword" required)
            |
            |
            legend New Password
            input(type="text" name="password" required)
            |
            |
            legend Repeat Password
            input(type="text" name="rPassword" required)
            |
            |
            br
            input(type="submit" id="updtPassword" value="Changes Password")