if errsForm
    include ./errsForm.pug
if passwordError
    section
        h4 The avatar has not been updated because the password is not correct.
section 
    fieldset
        form(action="/user/updtAvatar" method="post" class="updtAvatar")
            legend Password
            input(type="text" name="password" required)
            |
            |
            legend New Url image of your avatar
            input(type="url" name="avatar" placeholder="It leave empty if you want to delete your avatar")
            br
            input(type="submit" id="updtAvatar" value="Changes Avatar")