section
    if !user
        a(class='login' href='/login') Log In
        |
        |
        a(class='login' href='/signup') Sing Up
        p Login to navigate
    else 
        a(class='logout' href="/logout") Log Out
        p Youre logged