section
    if !logged
        a(class='login' href='/login') Log In
        |
        |
        a(class='login' href='/signup/:') Sing Up
        p Login to navigate
    else 
        h3 Welcome #{nickName.slice(0, nickName.indexOf('@'))}