section
    if message == "avatarUpdt"
        h3 The avatar was updated!
    if message == "passwordUpdt"
        h3 The password was updated!
    if message == "userDeletion"
        h3 The user was deleted!