if alreadyExist 
    section
        h4 User already exist
if errSignup
    section
        if errSignup[1] == 1
            h4 Passwords did not match.
        if errSignup[3] == 1
            h4 The password must conteins between 6 and 16 characters, at least one upper case letter, at least one lower case letter and at least one digit.
        if errSignup[5] == 1
            h4 Invalid email format.
        if errSignup[7] == 1
            h4 The image url must ends with .jpg or .png or .gif
section 
    fieldset
        form(class="signup" action="/signup" method="post")
            legend  Email
            input(type="text" name="emailSignup" required)
            |
            |
            legend Password
            input(type="text" name="passwordSignup" required)
            |
            |
            legend Repeat Password
            input(type="text" name="password2Signup" required)
            |
            |
            legend Enter the code to register as an admin
            input(type="text" name="admin" placeholder="EL CODIGO ES a1A") 
            |
            |
            legend Url image of your avatar
            input(type="url" name="avatar")
            br
            input(type="submit" id="signup" value="Sign Up")
    p(id="singup" hidden=true)
            
section 
    a(class='login' href='/login') Go to login