form(action="/search" method="post" id="form1")
    label(for="fname") Write the full title of the movie/serie:
    br
    input(type="text" id="fname" name="title")
    |
    |
    input(type="submit" value="SEARCH" class='css-button-arrow--red')