form(action="/search" method="post" target="_blank" id="form1")
    label(for="fname") TITLE: 
    input(type="text" id="fname" name="title")
    |
    |
    input(type="submit" value="SEARCH" class='css-button-arrow--red')