section(class="card" id="card")
    ul The movie you request is not in the databases. You can try this:
        li Write the title of the movie/serie in English.
        li Check that you have spelled the title correctly.
        li Wite the complete name of title.
        li Write only the most defining word on the title.